.create-bar{
    width:750px;
    padding:10px;
    padding-left:275px;
    font-size:16px;
    font-weight:50;
    border-radius: 30px;
    color:grey;
    margin-left:20%;
    margin-top:25px;
    margin-bottom:25px;
    background-color: transparent;
    border:1px solid #f86b6b;
    outline: none;
}

.create-bar:hover{
    box-shadow: 0px 0px 10px #f86b6b;
}

.create-button{ 
    background-color:transparent;
    border: 1px solid #f86b6b;
    font-size: large;
    font-weight: bold;
    border-radius: 30px;
    color: #f86b6b;
    width:200px;
    padding: 8px;
    margin-left:40%;
    margin-top:25px;
    margin-bottom:25px;
    position:absolute;
    cursor: pointer;
    transition: all 0.5s;
  }
  
  .create-button:hover{
  background-color:#f86b6b;
  color:white;
  box-shadow: 0px 0px 10px #f86b6b;
  }

.question-block {
    text-align: left;
    display:flex;
    width: 100%;
    margin-top: 30px;
    padding-top: 5px;
    margin-left:30%;
    width: 40%;
    align-items: center;
    justify-content: center;
  }
  
.question {
    border: none;
    padding-bottom: 0;
    
  }

.answers-list {
    list-style: none;
    padding: 0;
  }

  legend{
    font-size:16px;
    font-weight:200;
  }

.radio-input {
    font-size: 16px;
    margin:0;
    padding:10px;
    float:left;
    margin-right:10px;
  }

  label{
    font-size: 16px;
    font-weight:400;
    margin:0;
    padding:10px;
    float:left;
    margin-left:60px;
  }

  input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #f86b6b;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}




