.container-playlist{
  overflow:visible;
  margin-bottom: 50px;
}

.create-playlist{
  margin-bottom:125px;
}

.create-bar{
    width:450px;
    padding:10px;
    padding-left:275px;
    font-size:16px;
    font-weight:50;
    border-radius: 30px;
    color:grey;
    margin-left:25%;
    margin-top:25px;
    margin-bottom:5px;
    background-color: transparent;
    border:1px solid #f86b6b;
    outline: none;
}

.create-bar:hover{
    box-shadow: 0px 0px 10px #f86b6b;
}

.create-button{ 
    background-color:transparent;
    border: 1px solid #f86b6b;
    font-size: large;
    font-weight: bold;
    border-radius: 30px;
    color: #f86b6b;
    width:200px;
    padding: 8px;
    margin-left:40%;
    margin-top:25px;
    position:absolute;
    cursor: pointer;
    transition: all 0.5s;
  }
  
  .create-button:hover{
  background-color:#f86b6b;
  color:white;
  box-shadow: 0px 0px 10px #f86b6b;
  }

.question-block {
    text-align: left;
    display:flex;
    width: 100%;
    margin-top: 30px;
    padding-top: 5px;
    margin-left:30%;
    width: 40%;
    align-items: center;
    justify-content: center;
  }
  
.question {
    border: none;
    padding-bottom: 0;
  }

.answers-list {
    list-style: none;
    padding: 0;
  }

  legend{
    font-size:16px;
    font-weight:200;
    margin:-2px;
  }

.radio-input {
    font-size: 16px;
    margin:0;
    padding:10px;
    float:left;
    margin-right:10px;
  }

  label{
    font-size: 16px;
    font-weight:400;
    margin:0;
    padding:10px;
    float:left;
    margin-left:60px;
  }

  input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #f86b6b;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.my-playlist{
  width:80%;
  margin:auto;
  height:469px;
  /* border:1px solid white; */
}

.navbar-playlist{
  text-align: center;
  margin:0;
  padding:0;
  display:inline-block;
  width:100%;
  overflow:auto; 
  height:50%;
  z-index:1;
  border:0.5px solid #444444;
  }

.h1-my-playlist{
  margin:5px 0 20px;
  }

.nav-link-playlist{
    padding:2%;
    color:#f86b6b;
    text-decoration:none;
    display:block;
    border:1px solid #444444;
    border-collapse: collapse;
    border-bottom:none;
    }

.last{
  border-bottom:1px solid #444444;
}
    
.nav-link-playlist:hover{
  background-color:#353839;
  color:#EFEFEF;
}
    
/* width */
::-webkit-scrollbar {
  width: 20px;
  height:20px;
}

/* Track */
::-webkit-scrollbar-track { 
  display: none;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent; 
  border:1px solid #f86b6b;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  box-shadow:0 0 10px #f86b6b; 
}


