
  .main-elements {
    height: 65%;
    width: 90%;
    margin-top: 15px;
    padding-left: 20px;
    border-radius: 30px;
    border:1px solid black;
  }
  
  .element {
    margin-top: 40px;
  }
  
  .last {
    text-decoration: none;
    font-weight: Normal;
    color: black;
    font-size: 16px;
  }
  
  label {
    /* color: #fff; */
    font-size: 26px;
    justify-content: center;
    display: flex;
    margin: 20px;
    font-weight: bold;
  }
  
  button:hover {
    background-color: rgb(197, 197, 197);
  
  }
  
  .submit-button{
    margin-top:20px;
    text-align:center;
  }

  .main {
    /* height: auto; */
    /* border: 3px solid red; */
    width: 25%;
    /* width: 350px; */
    height: 60%;
    background-color:#a809d4 ;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* padding: 30px; */
    padding: 20px;
    /* margin: 90%; */
    /* margin: auto; */
    min-width: 330px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }