
  .main-elements {
    height: 65%;
    width: 90%;
    margin-top: 15px;
    padding-left: 20px;
    border-radius: 30px;
    border:1px solid black;
    max-height:45px;
  }

  .white{
    color:white;
  }

  .element {
    margin-top: 30px;
    color:black;
  }
  
  ::placeholder{
    font-size:15px;
  }

  .last {
    text-decoration: none;
    font-weight: Normal;
    color: white;
    font-size: 16px;
  }
  
  label {
    /* color: #fff; */
    font-size: 26px;
    justify-content: center;
    display: flex;
    margin: 20px;
    font-weight: bold;
  }
  
  button:hover {
    background-color: rgb(197, 197, 197);
  
  }
  
  .submit-button{
    margin-top:20px;
  }

  .main {
    width: 25%;
    height: 60%;
    border-radius: 10px;
    border: 7px solid #000;
    box-shadow: 5px 20px 50px #000;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-width: 330px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-15%, -50%);
  }