.hero-bg{
    width: 94.7vw;
    height:90vh;
    background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.9)),
    url('../../assets/BG.png');
    background-size: cover;
}

.hero-content{
    text-align:center;
    padding-top:200px;
}
.hero-heading{
    font-size: 55px;
    width: 500px;
    margin:auto;
    font-weight: bold;
    color: #f86b6b;
    opacity: 1;
    transition: all 0.1s ease-in-out;
    /* border-bottom: 4px solid #f86b6b; */
}
.hero-begin{
    font-size: 22px;
    width: 200px;
    margin:auto;
    background-color: #f86b6b;
    border-radius:30px;
    padding:5px 10px 10px 10px;
    margin-top:30px;
}

.search-songs{
    margin:20px 10px 20px 10px;
}
.search-songs-heading{
    text-align:center;
    font-size:36px;
    font-weight:bold;
}

.suggested-songs{
    margin-top:10px;
}
.suggested-songs-heading{
    text-align:center;
    font-size:36px;
    font-weight:bold;
}