.nav-link-chat{
    color:#333333;
    text-decoration:none;
    display:block;
    /* padding-top:5px; */
    width:100%;
    height:40px;
  }

.header-chat{
  background:#F5F5F5;
  border:1px solid #f86b6b;
  box-shadow:0 0 5px #f86b6b;
  border-left-style:none;
  width:80%;
  position:relative;
  background-color:transparent;
  height:50px;
  right:0;
  top:0;
  z-index:-1;
  float:right;
}

.navbar-header-chat
{
  width:100%;
  height:50px;
  background-color:black;
  display:flex;
}

.navbar-chat{
    top:65px;
    margin:0 0 10px 0;
    padding:0;
    position:fixed;
    display:inline-block;
    height:100%;
    overflow:auto;
    width:19%;
    background:#F5F5F5;
    border:1px solid #f86b6b;
    box-shadow:0 0 10px #f86b6b;
    border-left-style:none;
    }

.nav-link-chat:hover{
   background-color:black;
    color:#EFEFEF;
    border:1px solid #f86b6b;
    box-shadow:0 0 10px #f86b6b;
    }

.dp-chat{
  border:1px solid black;
  background-color: white;
  border-radius:50%;
  width:30px;
  height:30px;
  top:10px;
  left:10px;
  position:relative;
}

.search-chat{
  width:225px;
  height:35px;
  margin:7px 19px;
  align-items: center;
  background-color:white;
  border-radius:15px;
}

.navIcons-chat
{
  width:35px;
  height:auto;
  background-color:transparent;
  margin:1px 7px;
  float:right;
}

.messages-chat{
  width:100%;
}

.type-chat{
  background-color:white;
  height:34px;
  margin:8px 10px;
  width:1000px;
  border-radius:34px;
  border:1px solid #f86b6b;
  box-shadow:0 0 10px #f86b6b;
}

.text-chat{
  width:80%;
  position:relative;
  background-color:transparent;
  height:50px;
  right:0;
  bottom:-465px;
  z-index:-1;
  float:right;
}
