.main-elements {
  height: 65px;
  width: 90%;
  margin-top: 15px;
  padding-left: 20px;
  border-radius: 30px;
  border: 2.5px solid #f86b6b;
  background:transparent;
  font-size:20px;
  transition: all 0.5s;
}

.main-elements:focus {
  outline: none;
  border:2.5px solid #000;
}

.element {
  margin-top: 30px;
}

::placeholder {
  font-size: 20px;
}

.last {
  text-decoration: none;
  font-weight: Normal;
  font-size: 16px;
}

label {
  /* color: #fff; */
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 60px;
  font-weight: bold;
}

.submit-button {
  height: 65px;
  width: 90%;
  margin-top: 15px;
  padding-left: 20px;
  border-radius: 30px;
  border: 2.5px solid #f86b6b;
  background:transparent;
  font-size:20px;
  transition: all 0.5s;
  margin-top: 20px;
  background-color: #f86b6b;
  font-weight: bold;
  color: white;
  text-align: center;
  font-size: 20px;
  padding-right: 20px;
  cursor: pointer;
}
.submit-button:hover{
}

.main {
  width: 40%;
  height: 60%;
  border-radius: 87px 31px 87px 31px;
  border: 1px solid #f86b6b;
  box-shadow: 1px 10px 20px #f86b6b;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-width: 330px;
  margin: auto;
  margin-top:50px;
  position: absolute;
  left: 30%;
  background:#161716;
  transition: all 0.5s;
}
