h1 {
  text-align: center;
}

.artist-name {
  font-family: Verdana, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 20px;
  display: block;
  background: #f86b6b;
  opacity: 0.78;
  text-align: center;
  border-radius: 0 0 10px 10px;
  position: absolute;
  padding: 15px;
  bottom: 0;
  left: 0;
  right: 0;
}
.follow {
  background-color: transparent;
  border: 1px solid #f86b6b;
  box-shadow: 0px 0px 10px #f86b6b;
  font-size: large;
  font-weight: bold;
  border-radius: 30px;
  color: #f86b6b;
  width: 200px;
  padding: 8px;
  margin: 15px auto;
  position: absolute;
  right: 300px;
  cursor: pointer;
  transition: all 0.5s;
}

.follow:hover {
  background-color: #f86b6b;
  color: white;
}
