.find-friend-container{
  margin-top:100px;
}
.MultiSlider {
  font-family: sans-serif;
  text-align: center;
}

.swiper-container {
  list-style: none;
  
}

.pagination {
  bottom: 0;
  padding-bottom: 4px;
}

.slide {
  text-align: center;
  height: 320px;
  line-height: 320px;
  background: #364d79;
  overflow: hidden;
}

.artist-name{
 
  font-family:Verdana,Tahoma, sans-serif;
  font-weight: bold;
  font-size: large;
  display:block;
  background-color: rgba(248,107,107,0.25);
  text-align: center;
  position:absolute;
  padding: 5px;
  bottom: 0;
  left: 0;
  right: 0;
}

.follow-btn{ 
  background-color:transparent;
  border: 1px solid #f86b6b;
  box-shadow: 0px 0px 10px #f86b6b;
  font-size: large;
  font-weight: bold;
  border-radius: 30px;
  color: #f86b6b;
  width:200px;
  padding: 8px;
  margin: 15px auto;
  position:absolute;
  left: 46.5%;
  cursor: pointer;
  transition: all 0.5s;
}

.follow-btn:hover{
background-color:#f86b6b;
color:white;
}
h1{
margin-top: 70px;
text-align: center;
}
.btn{
  display: flex;
}


.slide:hover {
transform: scale(0.8); 
box-shadow: 0 0 0 10px #f86b6b;
transition: .5s all;
}
.container-image{
height: 3000px;
width: max-content;
background: #364d79;
}

#people{
position: absolute;
margin-left: 7%;
width: 80%;
background:#f86b6b;
border-radius:10px;
}
#people .image {
width: 250px;
height: 300px;
object-fit: cover;
margin-top: 8px;
padding: 0 4px;
border-radius: 100%;
}

.image{
height: 300px;
width: 250px;
border-radius: 50%;
padding: 3px;
background: #f86b6b;

}

.image >img{
height: 300px;
width: 250px;
object-fit: cover;
border-radius: 50%;
border: 3px solid #fff;
}

.card-content{
display:inline-table;
padding: 40px;
position: relative;
background: transparent;
border-radius: 20px;
margin: 20px 0;
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.unfollow-btn{ 
background-color:transparent;
border: 1px solid #f86b6b;
box-shadow: 0px 0px 5px #f86b6b;
font-size: large;
font-weight: bold;
border-radius: 30px;
width:100px;
padding: 5px;
position:absolute;
right:7%;
bottom:6%;
cursor: pointer;
transition: all 0.5s;
background-color: white;
}

.unfollow-btn:hover{
background-color:#f86b6b;
color:white;
}


.search-form-text {
  font-size: large;
  display: block;
  width: 80%;
  box-sizing: border-box;
  margin-left: 10%;
  margin-top: 30px;
  border: 0;
  background: transparent;
  padding: 20px 20px;
  outline:None;
  color: rgb(104, 104, 104);
  transition: 0.5s;
  box-shadow: 0 0 1px 2px #f86b6b;
  border-radius:30px;
}

/* .search-form-text:focus {
  box-shadow: 0 0 10px 4px #f86b6b;
} */
.name{
  font-size:20px;
  font-weight:bold;
}

.pre-text{
  text-align:center;
  font-size:30px;
  margin-top: 30px;
  padding:100px;
}
.suggestion-container{
  display:flex;
  justify-content:center;
  flex-direction:column;
  align-items:center;
}
.suggestion-img{
  width:250px;
  border-radius:10px 10px 0 0;

}
.suggestion-container>div>div{
  background-color: #f86b6b;
  width:250px;
  text-align:center;
  font-size:22px;
}