.navbar-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:black;
  box-shadow: 0px 10px 50px black;
  position: fixed;
  width: 100%;
  z-index:100;
}
.navbar-title{
  font-size:30px;
  font-weight:bold;
  margin-top:10px;
  margin-bottom: 10px;
  margin-left: 40px;
  color: #f86b6b;
}
.navbar-links>ul{
  display: flex;
  /* align-items: center; */
  margin-right: 50px;
}
.navbar-links>ul>li{
  list-style-type: none;
  margin-right: 50px;
  font-weight: bold;
  font-size: 22px;
}
.switch{
}
.profile-img{
  width:40px;
  border-radius:50%;
  margin-right:-30px;
  margin-top:-2px;
}