.hidden-modal {
  height: 0px;
  top: 200px;
  right: 100px;
  transition: all 0.5s ease;
}

.nav-link-playlist {
  padding: 30px;
  height: 70px;
  font-size: 20px;
  top: 200px;
  right: 100px;
  font-weight: bold;
  cursor: pointer;
}
.nav-link-playlist:hover {
  background-color: #353839;
  color: #efefef;
}
